
.contacts-wrapper{
    margin: 30px 0 50px;
}

.text-contacts{
    width: 40%;
}

.text-contacts > ul > li{
    margin-bottom: 20px;
}


.text-contacts > ul > li > .fa{
    font-size: 18px;
    padding-right: 10px;
}

.iframe-contacts{
    border-radius: 5px;
    width: 60%;
}

.iframe-contacts > iframe{
    border-radius: 10px;

}